.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: clamp(10px, 0.5vmax, 30px);
}

.margin-bottom {
  margin-bottom: clamp(10px, 0.5vmax, 30px);
}
