.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: clamp(10px, 0.5vmax, 30px);
}

.margin-bottom {
  margin-bottom: clamp(10px, 0.5vmax, 30px);
}

.loginBtn {
  width: 100%;
  border: 2px solid var(--light-grey);
  border-radius: 2px;
  background: var(--primary-gradient);
  padding: 0.5em;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: clamp(10px, 0.5vmax, 30px);
  cursor: pointer;
  white-space: pre-wrap;
}
