.pageTitle {
  background: var(--primary-gradient);
  border: 2px solid var(--light-grey);
  border-radius: 10% / 50%;
  padding: clamp(10px, 0.8vmax, 30px);
  margin: clamp(10px, 4vmax, 80px);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  white-space: pre-wrap;
}
